li {
  margin-bottom: 5px;
}

ol > li {
  list-style: upper-roman;
}

.intro {
  width: 80%;
  margin: auto;
  font-size: 1.5em;
  font-family: "Arial";
  text-align: left;
}

.Title{
  font-size: 1.5em;
}

img{
  margin: auto;
  width: 80%;
}

#Sum_image {
  width: 200px;
  height: 200px;
}
